<div class="container">
  <mat-card class="ricevuta-card">
    <mat-card-header>
      <mat-card-title>Ordini</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    @if (isVenditore) {

    <div class="menu">
      <button class="btn-ricevuta" (click)="caricaAcquisti()">
        <mat-icon>shopping_cart</mat-icon>
        I miei acquisti
      </button>

      <button class="btn-ricevuta" (click)="caricaVendite()">
        <mat-icon>store</mat-icon>
        Vendite clienti
      </button>
    </div>

    } @if (vista === "acquisti") {
    <h3>I miei ordini</h3>
    } @if (vista === "vendite") {
    <h3>Ordini clienti</h3>
    } @if (ordini.length > 0) {

    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Totale</th>
          <th>Stato</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (ordine of ordini; track ordine.idOrdine) {

        <tr>
          <td>{{ ordine.data }}</td>

          <td>{{ ordine.totale | number:'1.2-2' }} €</td>

          <td>{{ ordine.statoOrdine }}</td>

          <td>
            <button class="btn-ricevuta" (click)="apriOrdine(ordine.idOrdine)">
              <mat-icon>visibility</mat-icon>
              Visualizza prodotti
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>

    } @else {

    <p>Nessun ordine trovato</p>

    }
  </mat-card>
</div>
