.ordine-card {
  padding: 30px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 10px 25px rgba(93, 64, 55, 0.15);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 25px 0;
}

.btn-ordine {
  background: #5d4037;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 700;
}

.btn-ordine:hover {
  background: #3e2723;
}

.btn-ordine mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}

th {
  background: #5d4037;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

h3 {
  text-align: center;
  color: #5d4037;
  margin: 20px 0;
}

p {
  text-align: center;
  color: #5d4037;
  margin-top: 25px;
}
