table {
  width: 100%;

  margin-top: 20px;
}

th {
  background: #5d4037;

  color: white;

  padding: 10px;
}

td {
  padding: 10px;

  border-bottom: 1px solid #ddd;
}

.totale {
  text-align: right;

  color: #5d4037;
}
