.ricevuta-card {
  padding: 30px;

  border-radius: 20px;

  background: white;

  box-shadow: 0 10px 25px rgba(93, 64, 55, 0.15);
}

table {
  width: 100%;

  margin-top: 25px;

  border-collapse: collapse;
}

th {
  background: #5d4037;

  color: white;

  padding: 12px;
}

td {
  padding: 12px;

  border-bottom: 1px solid #ddd;

  text-align: center;
}

.menu,
.filtri {
  display: flex;

  justify-content: center;

  align-items: center;

  gap: 15px;

  margin: 25px 0;
}

input {
  padding: 10px;

  border-radius: 10px;

  border: 1px solid #c8b6ae;
}

.btn-ricevuta {
  background: #5d4037;

  color: white;

  border: none;

  border-radius: 20px;

  padding: 8px 18px;

  display: flex;

  align-items: center;

  gap: 8px;

  cursor: pointer;

  font-weight: 700;
}

.btn-ricevuta:hover {
  background: #3e2723;
}

.btn-ricevuta mat-icon {
  font-size: 20px;

  width: 20px;

  height: 20px;
}
