/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  background-color: #F4EFEA; 
}

@media screen and (max-width: 1400px) {
  body {
    zoom: 0.78; 
  }

  .cdk-overlay-container {
    zoom: 1.28; /*(1 / 0.78 = 1.28)*/
  }
}